/* demo templates */
.draft .webix_template{
	display: table;
	width: 100%;
	.title{
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		font-size:38px;
	}
}
/* toolbar logo */
.logo{
	background:url(books.svg) 2px 2px no-repeat;
}
.footer .webix_template{
	display: table;
	width: 100%;
	.title{
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		font-size:15px;
	}
}
/* header bar */
.title, .webix_layout_toolbar.subbar{
	background-color: #fbfbfb;
}
.title .webix_template{
	padding: 10px 12px;
	line-height: 29px;
}
.title .header{
	float: left;
	font-size: 18px;
}
.title .details{
	float: left;
	font-size: 13px;
	font-style: italic;
	padding-left: 10px;
}
.webix_img_btn_abs {
    text-align: center;
}
.webix_img_btn_abs .webix_icon {
    margin:0px;
}
/* icons in grids */
.webix_icon.wxi-pencil, .webix_icon.wxi-trash {
	color: #888;
	cursor: pointer;
}
.webix_icon.wxi-pencil:hover, .webix_icon.wxi-trash:hover {
	color: #1CA1C1;
}
/* charts */
.sub_title  .webix_template{
	padding-left: 12px;
	padding-top: 12px;
}
.sub_title .webix_icon{
	padding-right: 7px;
}
